{% extends "base.html.twig" %}
{% block title %}Modification de mot de passe{% endblock %}
{% block body %}

    <div class="container clearfix">
        <h1 class="my-5"><i class="fas fa-user-edit"></i>  Modification de mot de passe</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success float-right "><i class="far fa-save"></i> Modifier le mot de passe</button>

        {{ form_end(form) }}
    </div>

{% endblock %}