div.ad-title h1, div.ad-title p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
div.ad-title .btn{

    margin-top: 2em;
    font-size:1.5em;
    line-height: 1.5em;
}
div.ad-title{
    padding :2em;
    background-size: cover;
    background-position: center center;

}
div.container, div.container-fluid {
    margin-top: 20px; 
}
div.carousel-caption{
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
.avatar{
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;

}
.avatar-medium {

    max-width: 64px;
    max-height: 64px;
}
.avatar-mini{
    max-width: 25px;
    max-height: 25px;
}
.avatar-micro{
    max-width: 24px;
    max-height: 24px;
}
.datepicker table tr td.disabled, .datepicker table tr
td.disabled:hover {
    color : red !important;
}
span.rating i {
    color:rgb(246, 190, 57);
}
.alert a {
    text-decoration: none;
}
.alert .btn {
    color: rgb(255, 240, 255);
}

.card-header {
    background-image: linear-gradient(to right, rgba(30, 252, 192, 0), rgb(201, 239, 246));
    
}


.page-footer  {
    background-image: linear-gradient(to right, rgba(3, 246, 182, 0), rgb(250, 194, 250));
    
}
body{
    background-image: linear-gradient(to right, rgba(3, 246, 182, 0), rgb(162, 222, 208));
}



