{% extends 'base.html.twig' %} 

{% block title%}
    Bienvenue sur le meilleur réseau d'appartements
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur symBNB </h1>
        <p class="lead">Le site de (symBNB) sera une plateforme de vente de l’entreprise, et doit être en mesure de proposer une expérience de qualité aux visiteurs du site.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
        </p>
    </div>
    <h2 class="h1 mt-3 mb-5" >Nos Produit Stars </h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambre,<strong>60&euro; /nuit</strong><br>
                    <small>pas encore noté</small> 
                </div>
                <img src="http://placehold.it/1000x400" 
                    alt="Image de l'appartement"
                    style="height: 200px; width: 100%; display: block"/>

                <div class="card-body">
                    <h4 class="card-title"> Appartement de ouf !  </h4>
                    <p class="card-text"> wow !</p>
                    <a href="#" class="btn btn-secondary">En savoir plus ! </a>
                </div>
            </div>
        </div> 
         <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambre,<strong>60&euro; /nuit</strong><br>
                    <small>pas encore noté</small> 
                </div>
                <img src="http://placehold.it/1000x400" 
                    alt="Image de l'appartement"
                    style="height: 200px; width: 100%; display: block"/>

                <div class="card-body">
                    <h4 class="card-title"> Appartement de ouf !  </h4>
                    <p class="card-text"> wow !</p>
                    <a href="#" class="btn btn-secondary">En savoir plus ! </a>
                </div>
            </div>
        </div> 
         <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambre,<strong>60&euro; /nuit</strong><br>
                    <small>pas encore noté</small> 
                </div>
                <img src="http://placehold.it/1000x400" 
                    alt="Image de l'appartement"
                    style="height: 200px; width: 100%; display: block"/>

                <div class="card-body">
                    <h4 class="card-title"> Appartement de ouf !  </h4>
                    <p class="card-text"> wow !</p>
                    <a href="#" class="btn btn-secondary">En savoir plus ! </a>
                </div>
            </div>
        </div>     
    </div>
    <h2 class="h1 mt-3 mb-5">Nos propriétaires Stars</h2>
                <div class="row">
                   <div class="col">
                     <div class="card border-secondary mb-3">
                         <div class="card-body">
                          <h4 class="card-title">walid kasmi</h4>

                          <hr>
                         <div class="card-text">
                         <img src="http://placehold.it/64x64" alt="Avatar walid kasmi" class="float-left mr-3">
                         <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, laboriosam!</p>
                         <a href="#" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                     </div>
                    </div>
                </div>
                   <div class="col">
                     <div class="card border-secondary mb-3">
                         <div class="card-body">
                          <h4 class="card-title">zakaria boujaada</h4>

                          <hr>
                         <div class="card-text">
                         <img src="http://placehold.it/64x64" alt="Avatar walid kasmi" class="float-left mr-3">
                         <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, laboriosam!</p>
                         <a href="#" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                     </div>
                    </div>
                </div>

                
</div>

{% endblock %}

